<%- include('../../partials/headerLayout.ejs', {pageName: "ourWork", pageTitle: "ourWork Page", pathLevel: "/"}) %>

<br>

<br><br>
<%if(messages.length > 0){%>
    <table border style="width: 100%">
        <tr>
            <th>Category Name</th><th/>
        </tr>    
        <% messages.forEach((oneMessage) => { %>
                <th><%= oneMessage.catName %></th>
                <th>
                    <a href="/dashboard/ourWork/show/<%=oneMessage.id%>">
                        Details
                    </a>
                                      
                    &nbsp;&nbsp;&nbsp;
                    
                    <!-- <span onclick="destroy(this);" productID="<%=oneMessage.id%>" style="cursor: pointer;">
                        Delete
                    </span> -->
                </th>
            </tr>
        <% }); %>
    </table>
<%}
else {%>
    <h3>No Categories created yet !!!!</h3>
<%}%>
<!-- 
<script>
    function destroy(obj){
        if(confirm("Are You Sure you want to Delete this Product ?")) {
            id = obj.getAttribute("productID");
            window.location.replace("/dashboard/ourWork/destroy/" + id);
        }        
    }
</script> -->

<%- include('../../partials/footerLayout.ejs', { pathLevel: "/" }) %>